In [1]:
def greet():
    print("hello")
greet()

hello

In [5]:
def sum(a,b):
   print(f"Sum is {a+b}")
sum(2,3)

Sum is 5

In [6]:
def greet(name):
    print(f"My name is {name}")
greet("Omkar")

My name is Omkar

In [7]:
def car (name):
    print(f"car name is {name}")
car("tata")

car name is tata

In [14]:
def factorial(n):
    if n==0:
        return 
    else:
       return n * factorial(n-1)
print(factorial(5))

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [15]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Example usage:
print(factorial(5))  # Output: 120

120

In [16]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
print(fact(4))

24

In [17]:
def greet (name):
    print(f"Hello {name}")
greet("Omkar")
greet ("Yash")

Hello Omkar
Hello Yash

In [18]:
def car (name,modelyear):
    print(f"{name} is of year {modelyear}")
car("Audi",2024)
car("BMW",2023)

Audi is of year 2024
BMW is of year 2023

In [21]:
def kids(*kid):
    print(f"The Youngest son is {kid[2]}")# aribitary Argument 
kids("Omkar","Yash","Prathamesh")

The Youngest son is Prathamesh

In [22]:
def car(car1,car2,car3):
    print(f"Best car is {car3}")
print(car(car1="audi",car2="BMW",car3="mercedes"))

Best car is mercedes
None

In [27]:
def info(**kid):
    print(f"Lastname of kid is {kid['lname']}")

info(fname="Omkar", lname="Jethe")

Lastname of kid is Jethe

In [33]:
def car(**a):
    print(f"Carname is {a['year']}")
print(car(name = " Audi " ,year = 2024))

Carname is 2024
None

In [35]:
  def myfunc(food):
        for x in fruit :
            print(x)
fruits=("apple","banana")
myfunc(fruits)

apple
banana

In [36]:
def car(name):
    for x in name :
        print(x)
model=("Audi" ,"Bmw","Mercedes")
car(model)

Audi
Bmw
Mercedes

In [39]:
def car(name):
    for x in name :
        print(x)
cars=["Audi","BMW"]
car(cars)

Audi
BMW

In [41]:
 def num(x):
        return 5 * x
print(num(5))

25

In [42]:
def fun(n):
    return 5*n
print(fun(13))

65

In [43]:
def fun(name):
    for x in name :
        print(x)
car=["Omkar","yash","Prathamesh"]
fun(car)

Omkar
yash
Prathamesh

In [44]:
def fun():
    pass

In [45]:
def my (x,/):
    print(x)
my(3)

3

In [48]:
# __init__ Function

In [50]:
def evenodd(num):
    if num % 2 == 0:
        print("Even Number")
    else:
        print("odd Number")
num=int(input("Enter the number"))
evenodd(num)

Enter the number24
Even Number

In [5]:
def marks (totalmarks):
    if totalmarks >160 :
        print("Passed")
    else:
        print("Failed")
m1=int(input("Enter the marks"))
m2=int(input("Enter the marks"))
m3=int(input("Enter the marks"))
m4=int(input("Enter the marks"))
totalmarks=m1+m2+m3+m4
print(marks(totalmarks))

Enter the marks45
Enter the marks56
Enter the marks67
Enter the marks78
Passed
None

In [11]:
def student(name,attendance):
    if attendance > 75 :
        print("Not Detained ")
    else :
        print("Detained")
print(student(name = input("enter the name"),attendance=int(input("Enter the attendance"))))

enter the nameOmkar
Enter the attendance67
Detained
None

In [13]:
def student(name,attendance):
    if attendance > 75 :
        print("Not Detained ")
    else :
        print("Detained")
name = input("enter the name")
attendance=int(input("Enter the attendance"))
print(student(name,attendance))

enter the nameOmkar
Enter the attendance78
Not Detained
None