# Lists :

Structure:


The list is perhaps the most commonly used data structure in Python. It allows us to store elements of different data types in one container.

The contents of a list are enclosed by square brackets, [].

Lists are ordered, like strings. Elements are stored linearly at a specific index.

We can see from the illustration above that a list bears resemblance to a string.

A string is a collection of characters indexed in a linear fashion. A list is the same except that it can contain any type of data, even another list!

# List Items:
    
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:
    
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.

Changeable:
    
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates:
    
Since lists are indexed, lists can have items with the same value:

# Creating a List :

Letâ€™s see how to create a list using square brackets.

In [1]:
a=["Omkar","Jethe",24]

In [2]:
print(a[0])
print(a[1])
print(a[2])

Omkar
Jethe
24

In [3]:
print(a[1:]) #Indexing

['Jethe', 24]

In [4]:
len(a)

3

In [5]:
b=["Aishwariya","Karande",23]

In [6]:
b

['Aishwariya', 'Karande', 23]

In [7]:
c=a+b
print(c)

['Omkar', 'Jethe', 24, 'Aishwariya', 'Karande', 23]

In [8]:
b[1]="AISHWARIYA"

In [9]:
b

['Aishwariya', 'AISHWARIYA', 23]

In [10]:
print(type(b))

<class 'list'>

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python - Access List Items

In [11]:
a=["Omkar","Aishwariya ","Yash"]
print(a[1])

Aishwariya

In [12]:
print(a[0])

Omkar

In [13]:
print(a[-1])

Yash

In [14]:
print(a[-3])

Omkar

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [15]:
a=["Omkar","Aishwariya ","Yash","Anushree","Prathamesh","Ajinkya","Pritesh","Shefali","Pallavi","Shweta","Prachi","Pradyna","Shruti","Dakshata "]
print(a[2:5])

['Yash', 'Anushree', 'Prathamesh']

In [16]:
print(a[-5:-1])

['Shweta', 'Prachi', 'Pradyna', 'Shruti']

In [17]:
if "Omkar" in a :
    print(f"Present")

Present

In [18]:
b=input("Enter The name to check")
if b in a:
    print("present In list ")
else:
    print("Not Present in the list")

Enter The name to checkOmkar
present In list




# Python - Change List Items

In [19]:
a=["Ram","Man","Sam"]
a[1]="Shyam"
print(a)

['Ram', 'Shyam', 'Sam']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [21]:
a=["Sita","Geeta","Rita","Mita","Leela"]
a[2:4]=["Sai","Ram"]
print(a)

['Sita', 'Geeta', 'Sai', 'Ram', 'Leela']

# Python - Append List Items

In [22]:
a=[]
a.append("Omkar")
print(a)

['Omkar']

In [23]:
b=["Omkar"]
a=[]
a.append("Yash")
a.append (b)
print(a)

['Yash', ['Omkar']]

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [24]:
a=["Omkar","Aishwariya ","Yash","Anushree","Prathamesh","Ajinkya","Pritesh","Shefali","Pallavi","Shweta","Prachi","Pradyna","Shruti","Dakshata "]
a.insert(13,"Kimaya")
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Kimaya', 'Dakshata ']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python - Add List Items

Append Items
To add an item to the end of the list, use the append() method:

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [27]:
a=["Omkar","Aishwariya ","Yash","Anushree","Prathamesh","Ajinkya","Pritesh","Shefali","Pallavi","Shweta","Prachi","Pradyna","Shruti","Dakshata "]
a.append("Kimaya")
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']

In [28]:
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']

# Extend List
To append elements from another list to the current list, use the extend() method.

In [29]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [30]:
a=["Sam"]
b=["Ram"]
a.extend(b)
print(a)

['Sam', 'Ram']

In [31]:
print(b)

['Ram']

# Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [32]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [33]:
a=["Ram","Sam"]
b=["Sam"]
a.extend(b)
print(a)

['Ram', 'Sam', 'Sam']


# Python - Remove List Items

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [35]:
a=["XYZ","ABC","PQR"]
a.remove("PQR")
print(a)

['XYZ', 'ABC']

# If there are more than one item with the specified value, the remove() method removes the first occurance:

In [36]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [37]:
a=["PQR","XYZ","ABC","PQR"]
a.remove("PQR")
print(a)

['XYZ', 'ABC', 'PQR']

# Remove Specified Index
The pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

The del keyword also removes the specified index:

The del keyword can also delete the list completely.

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [39]:
a=["PQR","XYZ","ABC","PQR"]
a.pop(0)
print(a)

['XYZ', 'ABC', 'PQR']

In [40]:
a=["PQR","XYZ","ABC","PQR"]
del a[0]
print(a)

['XYZ', 'ABC', 'PQR']

In [41]:
a=["PQR","XYZ","ABC","PQR"]
del a

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [43]:
a=["PQR","XYZ","ABC","PQR"]
a.clear()
print(a)

[]

# Python - Loop Lists

 Loop Through a List
You can loop through the list items by using a for loop:

In [44]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [45]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
for b in a:
    print(b)

Omkar
Aishwariya
Yash
Anushree
Prathamesh
Ajinkya
Pritesh
Shefali
Pallavi
Shweta
Prachi
Pradyna
Shruti
Dakshata
Kimaya

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [46]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [47]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
for  i in range (len(a)):
    print(a[i])

Omkar
Aishwariya
Yash
Anushree
Prathamesh
Ajinkya
Pritesh
Shefali
Pallavi
Shweta
Prachi
Pradyna
Shruti
Dakshata
Kimaya

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [48]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [49]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
i=0
while i <len(a):
    print(a[i])
    i=i+1

Omkar
Aishwariya
Yash
Anushree
Prathamesh
Ajinkya
Pritesh
Shefali
Pallavi
Shweta
Prachi
Pradyna
Shruti
Dakshata
Kimaya

# Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [50]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [51]:
a=["Omkar","Ram","Shyam"]
[print(x) for x in a ]

Omkar
Ram
Shyam

[None, None, None]

In [52]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [53]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [54]:
a=["even" if x %2==0 else "odd" for x in range(1,11) ]

In [55]:
print(a)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [56]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

# Python - Sort Lists

Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [57]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
a.sort()
print(a)

['Aishwariya ', 'Ajinkya', 'Anushree', 'Dakshata ', 'Kimaya', 'Omkar', 'Pallavi', 'Prachi', 'Pradyna', 'Prathamesh', 'Pritesh', 'Shefali', 'Shruti', 'Shweta', 'Yash']

In [58]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [59]:
b=[99,87,89,76,9,79,85,45,18,33]
b.sort()
print(b)

[9, 18, 33, 45, 76, 79, 85, 87, 89, 99]

# Sort Descending
To sort descending, use the keyword argument reverse = True:

In [60]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [61]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
a.sort(reverse=True)
print(a)

['Yash', 'Shweta', 'Shruti', 'Shefali', 'Pritesh', 'Prathamesh', 'Pradyna', 'Prachi', 'Pallavi', 'Omkar', 'Kimaya', 'Dakshata ', 'Anushree', 'Ajinkya', 'Aishwariya ']

In [62]:
b=[99,87,89,76,9,79,85,45,18,33]
b.sort(reverse=True)
print(b)

[99, 89, 87, 85, 79, 76, 45, 33, 18, 9]

# Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [63]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [64]:
def fa(n):
    return abs(n-67)

a=[5,78,67,99,74,76,98,100]
a.sort(key= fa )
print(a)

[67, 74, 76, 78, 98, 99, 100, 5]

# Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [65]:
a=['Omkar', 'Aishwariya ', 'Yash', 'anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
a.sort()
print(a)

['Aishwariya ', 'Ajinkya', 'Dakshata ', 'Kimaya', 'Omkar', 'Pallavi', 'Prachi', 'Pradyna', 'Prathamesh', 'Pritesh', 'Shefali', 'Shruti', 'Shweta', 'Yash', 'anushree']

In [66]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [67]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [68]:
a=['Omkar', 'Aishwariya ', 'Yash', 'anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
a.sort(key=str.lower)
print(a)

['Aishwariya ', 'Ajinkya', 'anushree', 'Dakshata ', 'Kimaya', 'Omkar', 'Pallavi', 'Prachi', 'Pradyna', 'Prathamesh', 'Pritesh', 'Shefali', 'Shruti', 'Shweta', 'Yash']

# Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [69]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [70]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
a.reverse()
print(a)

['Kimaya', 'Dakshata ', 'Shruti', 'Pradyna', 'Prachi', 'Shweta', 'Pallavi', 'Shefali', 'Pritesh', 'Ajinkya', 'Prathamesh', 'Anushree', 'Yash', 'Aishwariya ', 'Omkar']

# Python - Copy Lists:
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [71]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [72]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
ab=a.copy()
print(ab)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']

In [73]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [74]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
ab=list(a)
print(ab)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [75]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

c=a+b
print(c)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [76]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [77]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

for i in b:
    a.append(i)
    
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [78]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [79]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

a.extend(b)
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [83]:
a=['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']
b=a.count(10)
print(a)

['Omkar', 'Aishwariya ', 'Yash', 'Anushree', 'Prathamesh', 'Ajinkya', 'Pritesh', 'Shefali', 'Pallavi', 'Shweta', 'Prachi', 'Pradyna', 'Shruti', 'Dakshata ', 'Kimaya']

In [87]:
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,1]
b.count(1)

2