In [2]:
for i in range (6):
  print(i)

0
1
2
3
4
5

In [3]:
a=[0,1,2,3,4,5,6,7,8,9,10]
for i in a :
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
a="Omkar"

for i in a :
  print(i)

O
m
k
a
r

In [8]:
for i in range(5):
    print(f"Number: {i}")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [9]:
for i in range(1, 10, 2):  # range(start, stop, step)
    print(f"Odd Number: {i}")

Odd Number: 1
Odd Number: 3
Odd Number: 5
Odd Number: 7
Odd Number: 9

In [12]:
for i in range(1, 11):  # Outer loop
    for j in range(1, 11):  # Inner loop
        print(f"{i} x {j} = {i*j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [15]:
num =int(input("Enter a number "))

for i in range (1,11):
  print(f"{num} * {i} = {num * i}")

Enter a number 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

 Print a Rectangle

In [5]:
for i in range (3):# for numbers of rows
  for j in range(1,9): #for number of columns
    print("*",end="")
  print()

********
********
********

Print Right Angle

In [6]:
for i in range (5):# for the rows
  for j in range(i+1):# for the columns
    print("*",end="")
  print()

*
**
***
****
*****

Pyramid

In [10]:
for i in range (1,6):
  for  j in range(1,i+1) :
    print(j,end="")
  print()

1
12
123
1234
12345

In [11]:
for i in range (1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

Reverse Number Triangle

In [17]:
for i in range(6,0,-1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
for i in range (7,0,-1):
  for j in range(i,0,-1):
    print("*",end="")
  print()

*******
******
*****
****
***
**
*

In [18]:
a=["Omkar","Yash"]
b=[23,25]

for i in a:
  for j in b:
    print(i,j)

Omkar 23
Omkar 25
Yash 23
Yash 25


Pascal's Triangle

In [19]:
rows = 5
for i in range(rows):
    coef = 1
    for j in range(i + 1):  # Inner loop prints numbers
        print(coef, end=" ")
        coef = coef * (i - j) // (j + 1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [20]:
magic_square = [
    [2, 7, 6],
    [9, 5, 1],
    [4, 3, 8]
]

n = len(magic_square)
magic_sum = sum(magic_square[0])  # First row sum

is_magic = True

# Check rows and columns
for i in range(n):
    if sum(magic_square[i]) != magic_sum or sum(magic_square[j][i] for j in range(n)) != magic_sum:
        is_magic = False
        break

# Check diagonals
if sum(magic_square[i][i] for i in range(n)) != magic_sum or sum(magic_square[i][n - 1 - i] for i in range(n)) != magic_sum:
    is_magic = False

print("Magic Square" if is_magic else "Not a Magic Square")

Magic Square