In [1]:
print("Omkar Sharad Jethe")

Omkar Sharad Jethe

In [6]:
num=50
print(num)
print("I am learning")
x=50
print(x)

name="Omkar Jethe"
print(name)

50
I am learning
50
Omkar Jethe

In [8]:
50+50
50+50

100

In [9]:
print("50+50")

50+50

In [14]:
print("Omkar"+"Jethe")
print(" Omkar"*5)
print("Omkar"*5)

OmkarJethe
 Omkar Omkar Omkar Omkar Omkar
OmkarOmkarOmkarOmkarOmkar

## TypeCasting Function

In [30]:
x="Monu"
y="Sonu"
print(x+" ki "+y)
print(x,y)
print(x)
print(y)
print(x, end=" ")
print(y)
print(x,y , sep="\n")
print(x,y , sep="a")

Monu ki Sonu
Monu Sonu
Monu
Sonu
Monu Sonu
Monu
Sonu
MonuaSonu

In [36]:
x=8
y=9
print(x, end= " ")
print(y)

8 9

In [38]:
a=12
b=24
c=a+b
print(c)

36

In [39]:
name="Omkar"
age=24

print("My Name Is",name,"my age is",age)

My Name Is Omkar my age is 24

# # F string method in print function

In [52]:

name="Omkar"
age=24
print(f"My Name is {name} my age is {age}")
print("My name is {} my age is {}".format(name,age))

My Name is Omkar my age is 24
My name is Omkar my age is 24

 # rules of  variable naming convention

1.variable name should be start by lowercase                                                                                  

2.variable name can be Store in underscore  

3.variable name should nor start with number or any special character 

4.We add number at start of byy underscore first 

5.Cannot Use "-" anywhere to use variable  

6.Cannot Use "*" anywhere to use variable  

7.variable name should start by alphabet than any number as a wish  

8.Define big variable by givng underscore between two word that can be added

# Assigning multiple values to variable

In [55]:
a,b,c="sonu","monu","jannu"
print(a)
print(b)
print(c)
print(a,b,c)

sonu
monu
jannu
sonu monu jannu

In [61]:
a=b=c="Omkar Jethe"
print(a,b,c)

Omkar Jethe Omkar Jethe Omkar Jethe

## Swapping two number without third variable

In [63]:
a=10
b=20

a,b=b,a

print(a) #values of a
print(b) # value of b

20
10

## Know Datatype od variable given

 Comments in python 
 
 #

In [68]:
num="Omkar"
print(type(num))

<class 'str'>

## Boolean

In [71]:
x=True
y=False
print(x,y)
print(type(x))

True False
<class 'bool'>

In [72]:
x=5>2

print(type(x))

<class 'bool'>

## String Is always Immuttable datatype


# List

List is the collection of elements of same or different datatype

1.Mutable

2.ordered

3.Brackets are compulsary

In [74]:

my_list=[1,2,3,4,5,6]

print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 6]

list

In [82]:
my_list=[1,"Omkar","Computer",1234567]
print(my_list)

my_list[1]="123"
print(my_list)
len(my_list)
# Len is the function  for counting length of list

[1, 'Omkar', 'Computer', 1234567]
[1, '123', 'Computer', 1234567]

4

In [83]:
name="OmkarJethe"
len(name)

10

# Tuples

1.In tuples we use round brackets ()

2.This are immutable

3.brackets are not compulsary

In [85]:
my_tuples=(1,2,3,4,5)
type(my_tuples)

tuple

In [86]:
a=1,2
type(a)

tuple

In [87]:
a=1,
type(a)

tuple

# Imp Question