# What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

# Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

# What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

# What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [1]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [2]:
import pandas as pd

In [3]:
a = ["Omkar","Yash","Aishwariya","Sai","Asmita","Prathamesh"]

b=pd.Series(a)

print(b)

0         Omkar
1          Yash
2    Aishwariya
3           Sai
4        Asmita
5    Prathamesh
dtype: object

# Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [4]:
print(a[0])

Omkar

In [6]:
a = ["Omkar","Yash","Aishwariya","Sai","Asmita","Prathamesh"]

b=pd.Series(a,index=[1,2,3,4,5,6])

print(b)

1         Omkar
2          Yash
3    Aishwariya
4           Sai
5        Asmita
6    Prathamesh
dtype: object

In [7]:
a = ["Omkar","Yash","Aishwariya","Sai","Asmita","Prathamesh"]

b=pd.Series(a,index=["a","b","c","d","e","f"])

print(b)

a         Omkar
b          Yash
c    Aishwariya
d           Sai
e        Asmita
f    Prathamesh
dtype: object

In [8]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

# DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [13]:
a= {"name ":["Omkar","Yash","Aishwariya","Sai","Asmita","Prathamesh"],
   "Ranking ":[1,2,3,4,5,6]}
b=pd.DataFrame(a,index=[1,2,3,4,5,6])
print(b)

        name   Ranking
1       Omkar         1
2        Yash         2
3  Aishwariya         3
4         Sai         4
5      Asmita         5
6  Prathamesh         6

In [12]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data,index=[1,2,3])

print(myvar)

   calories  duration
1       420        50
2       380        40
3       390        45