# Sets :

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
set_var=set()
print(set_var)

set()

In [2]:
a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [3]:
a={1,2,3,4,4,5,1}
print(a)

{1, 2, 3, 4, 5}

In [4]:
print(type(a))

<class 'set'>

# Indexing

It Doesnot allow Indexing

In [5]:
print(a[0])

TypeError: 'set' object is not subscriptable

In [6]:
a={"Ironman","Captain America","Hawkeye","Widow","Antman"}
print(a)

{'Ironman', 'Hawkeye', 'Antman', 'Widow', 'Captain America'}

# Add()

In [7]:
a.add("Hulk")

In [8]:
print(a)

{'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America'}

In [10]:
set1={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America'}
set2={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}
set2.difference(set1)

{'Spiderman'}

In [11]:
set1={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America'}
set2={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}
set2.difference_update(set1)

In [12]:
set2

{'Spiderman'}

In [13]:
set1={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America'}
set2={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}
set2.intersection(set1)#intersection means common element of the set

{'Antman', 'Captain America', 'Hawkeye', 'Hulk', 'Ironman', 'Widow'}

In [14]:
set2.intersection_update(set1)

In [15]:
print(set2)

{'Ironman', 'Hulk', 'Hawkeye', 'Antman', 'Widow', 'Captain America'}

In [16]:
a={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}

for i in a :
    print(i)

Ironman
Hawkeye
Captain America
Hulk
Antman
Widow
Spiderman

In [17]:
print("Ironman" in a)

True

In [18]:
print("Black Panther" in a)

False

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [20]:
a={1,2,3,4,5}
b={6,7,8,9,0}
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [22]:
a={1,2,3,4,5}
b=[6,7,8,9,0]
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [24]:
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
a.remove(0)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
a={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}
a.remove("Spiderman")
print(a)

{'Ironman', 'Hawkeye', 'Captain America', 'Hulk', 'Antman', 'Widow'}

In [26]:
a={'Ironman', 'Hawkeye', 'Hulk', 'Antman', 'Widow', 'Captain America',"Spiderman"}
a.discard("Spiderman")
print(a)

{'Ironman', 'Hawkeye', 'Captain America', 'Hulk', 'Antman', 'Widow'}

In [27]:
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
a.discard(0)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
a.pop()#Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
a.clear()
print(a)

set()

In [33]:
a={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
del a
print(a)#The del keyword will delete the set completely:

NameError: name 'a' is not defined

### Python - Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [36]:
a={1,2,3,4,5}
b={6,7,8,9,0}
c=a.union(b)#The union() method returns a new set with all items from both sets.
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

You can use the | operator instead of the union() method, and you will get the same result.

In [38]:
a={1,2,3,4,5}
b={6,7,8,9,0}
c=a|b#The union() method returns a new set with all items from both sets.
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [39]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'Elena', 'cherry', 'apple', 'b', 'bananas', 'a', 'John'}

In [40]:
a={1,2,3,4,5}
b={6,7,8,9,0}
c={11,12,13,14,15,16,17,18}
d={20,21,23,24,25}

myset=a.union(b,c,d)
print(myset)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 23, 24, 25}

In [41]:
a={1,2,3,4,5}
b={6,7,8,9,0}
c={11,12,13,14,15,16,17,18}
d={20,21,23,24,25}

myset=a|b|c|d
print(myset)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 23, 24, 25}

### Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

In [42]:
a={1,2,3,4,5}
b=("a","b","c")

c=a.union(b)
print(c)

{'c', 1, 2, 3, 4, 5, 'a', 'b'}

In [43]:
a={1,2,3,4,5}
b=["a","b","c"]

c=a|b
print(c)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

 The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [44]:
a={1,2,3,4,5}
b=["a","b","c"]

c=a.union(b)
print(c)

{'c', 1, 2, 3, 4, 5, 'a', 'b'}

# Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [48]:
a={1,2,3,4,5}
b={"a","b","c"}

a.update(b)
print(a)

{'c', 1, 2, 3, 4, 5, 'b', 'a'}

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [50]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2 #You can use the & operator instead of the intersection() method, and you will get the same result.
print(set3)

{'apple'}

In [51]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.

In [52]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

 You can use the - operator instead of the difference() method, and you will get the same result.

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

# Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets

In [56]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [57]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}