# What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

# Import Pandas
Once Pandas is installed, import it in your applications by adding the import keyword:

import pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
a=[1,2,3,4,5,6,7,8,9]
ser=pd.Series(a)
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [4]:
a={"Name":["Omkar","Esha ","Yash","Anushree"],
  "age ":[25,24,25,25]
  }
print(a)

{'Name': ['Omkar', 'Esha ', 'Yash', 'Anushree'], 'age ': [25, 24, 25, 25]}

In [5]:
df=pd.Series(a)
print(df)

Name    [Omkar, Esha , Yash, Anushree]
age                   [25, 24, 25, 25]
dtype: object

In [6]:
df=pd.DataFrame(a)
print(df)

       Name  age
0     Omkar    25
1     Esha     24
2      Yash    25
3  Anushree    25

In [7]:
a={"Name":["Omkar","Esha","Yash"],
  "age ":[25,25,25],
   "City":["Mumbai","Bengaluru","Berlin"]
  }
df=pd.DataFrame(a)
print(df)

    Name  age        City
0  Omkar    25     Mumbai
1   Esha    25  Bengaluru
2   Yash    25     Berlin

In [12]:
def even_odd(numbers):
    even_num=[]
    odd_num=[]
    
    for number in numbers:
        if number %2 ==0:
            even_num.append(number)
        else :
            odd_num.append(number)
        
    return even_num,odd_num

numbers=[0,12,3,4,5,6,7,8,9,10,11]  

even_nums,odd_nums=even_odd(numbers)

print("Even numbers are :",even_nums)
print("Odd numbers are  : ",odd_nums )

Even numbers are : [0, 12, 4, 6, 8, 10]
Odd numbers are  :  [3, 5, 7, 9, 11]

In [15]:
a=[1,2,3,4,5,6]
ser=pd.Series(a)
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
data={"Day1":4500,"Day2":500,"Day3":2300,"Day4":2700}
calories=pd.Series(data)
print(calories)

Day1    4500
Day2     500
Day3    2300
Day4    2700
dtype: int64

In [19]:
calories={"Day":[1,2,3,4],
          "Calories":[2300,2345,4500,2500]    
}
df=pd.DataFrame(calories)
print(df)

   Day  Calories
0    1      2300
1    2      2345
2    3      4500
3    4      2500