In [1]:
a=["Omkar","Sharad","Varad","Atharav","Sharayu","Vilas","Sangeeta","Vidya","Nidhi"]

new= [x for x in a if "a" in x ]
print(new)

['Omkar', 'Sharad', 'Varad', 'Atharav', 'Sharayu', 'Vilas', 'Sangeeta', 'Vidya']

In [5]:
check=[x for x in a if "i" in x]
print(check)

['Vilas', 'Vidya', 'Nidhi']

In [9]:
check1=[x for x in a if "r" in x]
print(check1)

['Omkar', 'Sharad', 'Varad', 'Atharav', 'Sharayu']

In [16]:
a=[x for  x in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
b=[x for x in range(2,21,2)]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
c= [x for x in range (1,10) if x<5]
print(c)

[1, 2, 3, 4]

In [19]:
d=[x for x in range(1,21) if x%2==0]
print(d)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
a=["Omkar","Sharad","Varad","Atharav","Sharayu","Vilas","Sangeeta","Vidya","Nidhi"]
new =[x.upper() for x in a]
print(new)

['OMKAR', 'SHARAD', 'VARAD', 'ATHARAV', 'SHARAYU', 'VILAS', 'SANGEETA', 'VIDYA', 'NIDHI']

In [22]:
a=[x.lower() for x in new]
print(a)

['omkar', 'sharad', 'varad', 'atharav', 'sharayu', 'vilas', 'sangeeta', 'vidya', 'nidhi']

In [23]:
new=[x.upper() for x in a]
print(new)

['OMKAR', 'SHARAD', 'VARAD', 'ATHARAV', 'SHARAYU', 'VILAS', 'SANGEETA', 'VIDYA', 'NIDHI']

In [24]:
a=[x.lower() for x in new]
print(a)

['omkar', 'sharad', 'varad', 'atharav', 'sharayu', 'vilas', 'sangeeta', 'vidya', 'nidhi']

In [25]:
new=[x.upper() for x in a]
print(new)

['OMKAR', 'SHARAD', 'VARAD', 'ATHARAV', 'SHARAYU', 'VILAS', 'SANGEETA', 'VIDYA', 'NIDHI']

In [27]:
a= ["hello " for x in new]
print(a)
print(new)

['hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ', 'hello ']
['OMKAR', 'SHARAD', 'VARAD', 'ATHARAV', 'SHARAYU', 'VILAS', 'SANGEETA', 'VIDYA', 'NIDHI']

In [28]:
a=[x if x!= "Omkar"else "Varad" for x in a]

In [31]:
print(a)

['Omkar', 'Sharad', 'Varad', 'Atharav', 'Sharayu', 'Vilas', 'Sangeeta', 'Vidya', 'Nidhi']