# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
a=["omkar","Sharad","jethe"]
print(a)

['omkar', 'Sharad', 'jethe']

In [2]:
len(a)

3

In [3]:
print(type(a))

<class 'list'>

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Access List Items

In [4]:
print(a[0])

omkar

In [5]:
b=list(("Sharad","Vilas","Pradeep"))
print(b[2])

Pradeep

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [6]:
print(b[-2])

Vilas

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [9]:
b=list(("Sharad","Vilas","Pradeep"))
print(b[0:2])

['Sharad', 'Vilas']

In [10]:
a=[1,2,3,4,5,6,7,8,9,0]
num =3
if num in a :
    print("Yes ")
else :
    print("No")

Yes

In [11]:
a=[1,2,3,4,5,6,7,8,9,0]
num =int(input("Enter the number "))
if num in a :
    print("Yes ")
else :
    print("No")

Enter the number 6
Yes

In [12]:
b=["Ford","ferrari","Bmw","Audi","Bugatti"]
car="Ford"
if car in b:
    print("yes")
else:
    print("no")

yes

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Change List Items

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [15]:
b=["Ford","ferrari","Bmw","Audi","Bugatti"]
b[1]="Mercedes"
print(b)

['Ford', 'Mercedes', 'Bmw', 'Audi', 'Bugatti']

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [20]:
b=["Ford","ferrari","Bmw","Audi","Bugatti"]
b[1:3]=["Mercedes","Lexuz"]
print(b)

['Ford', 'Mercedes', 'Lexuz', 'Audi', 'Bugatti']

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [24]:
a=['Ford', 'Mercedes', 'Lexuz', 'Audi', 'Bugatti']
a.insert(3,"Tata")
print(a)

['Ford', 'Mercedes', 'Lexuz', 'Tata', 'Audi', 'Bugatti']

# Add List Items

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [26]:
a

['Ford', 'Mercedes', 'Lexuz', 'Tata', 'Audi', 'Bugatti']

In [27]:
a.append("Mahindra")
print(a)

['Ford', 'Mercedes', 'Lexuz', 'Tata', 'Audi', 'Bugatti', 'Mahindra']

In [28]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [29]:
a=[1,3,5,7,9]
b=[0,2,4,6,8,]
a.extend(b)
print(a)

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

# Add elements of a tuple to a list:

In [30]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [31]:
a=[1,3,5,7,9]
b=(0,2,4,6,8,)
a.extend(b)
print(a)

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

# Remove List Items

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [33]:
a=[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]
a.remove(0)
print(a)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

# Remove Specified Index
The pop() method removes the specified index.

In [35]:
a=[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]
a.pop(1)
print(a)

[1, 5, 7, 9, 0, 2, 4, 6, 8]

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

# Delete the entire list:

In [39]:

thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List
You can loop through the list items by using a for loop:

In [41]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [42]:
a=[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

for x in a:
    print(x)

1
3
5
7
9
0
2
4
6
8

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [43]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [44]:
a=[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]
for i in range (len(a)):
    print(a[i])

1
3
5
7
9
0
2
4
6
8

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [46]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Sort Lists

In [47]:
a=[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
alphabet_list = ['m', 'q', 'l', 'b', 'f', 'j', 'o', 'n', 'a', 'r', 'y', 'v', 'u', 'i', 't', 'd', 'c', 's', 'p', 'w', 'h', 'g', 'x', 'k', 'z', 'e']
alphabet_list.sort()
print(alphabet_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [49]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [50]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [51]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [52]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [53]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [54]:
alphabet_list = ['m', 'q', 'l', 'b', 'f', 'j', 'o', 'n', 'a', 'r', 'y', 'v', 'u', 'i', 't', 'd', 'c', 's', 'p', 'w', 'h', 'g', 'x', 'k', 'z', 'e']
alphabet_list.reverse()
print(alphabet_list)

['e', 'z', 'k', 'x', 'g', 'h', 'w', 'p', 's', 'c', 'd', 't', 'i', 'u', 'v', 'y', 'r', 'a', 'n', 'o', 'j', 'f', 'b', 'l', 'q', 'm']

# Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [55]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [56]:
a=[1,3,45,0,6,570872,288]
b=a.copy()
print(b)

[1, 3, 45, 0, 6, 570872, 288]

In [58]:
a=[0,1,2,3,4,5,6,7,8,9]
b=a.copy()
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [60]:
a=[0,1,2,3,4,5,6,7,8,9]
b=[11,12,13,14,15,16,17,18,19]
c=a+b
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
a=[0,1,2,3,4,5,6,7,8,9]
b=[11,12,13,14,15,16,17,18,19]

for i in b:
    a.append(x)
    
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [62]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [64]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [65]:
a=[0,1,2,3,4,5,6,7,8,9]
b=[11,12,13,14,15,16,17,18,19]

a.extend(b)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [68]:
a=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

b=a.count(1)
print(b)

1

In [69]:
a=[0, 1, 2,4,5,6,78,8,9,11,12,13, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]
b=a.count(4)
print(b)

2