### Dictionary
Dictionaries are used to store data values in key:value pairs.

In [1]:
a={"model":"Harrier","make" :"Tata","Year" :"2024"}
print(a)

{'model': 'Harrier', 'make': 'Tata', 'Year': '2024'}

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
print(a["model"])

Harrier

In [4]:
print(thisdict["brand"])

Ford

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [6]:
a={"Name" : "Omkar","age":25,"City":"Mumbai"}
print(a)

{'Name': 'Omkar', 'age': 25, 'City': 'Mumbai'}

In [7]:
print(a["age"])

25

In [8]:
print(a["City"])

Mumbai

In [9]:
print(len(a))

3

In [10]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [11]:
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [12]:
type(thisdict)

dict

In [13]:
type(a)

dict

### The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [14]:
a=dict(name="Omkar",car="Audi R8",Age=25)
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25}

In [15]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [16]:
b=dict(name="Yash",age=24,city="Berlin")

In [17]:
print(b)

{'name': 'Yash', 'age': 24, 'city': 'Berlin'}

In [18]:
c=a.get("name")
print(c)

Omkar

In [19]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

In [20]:
v =a.keys()
print(v)

dict_keys(['name', 'car', 'Age'])

In [21]:
a=dict(name="Omkar",car="Audi R8",Age=25)
print("Old Dictionary :",a)
a["City"]="Mumbai"
print("New Dictionary :",a)

Old Dictionary : {'name': 'Omkar', 'car': 'Audi R8', 'Age': 25}
New Dictionary : {'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'Mumbai'}

In [22]:
b=a.values()
print(b)

dict_values(['Omkar', 'Audi R8', 25, 'Mumbai'])

In [23]:
print("Old Dictionary :",a)

a["City"]="New York"
print("New Dictionary",a)

Old Dictionary : {'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'Mumbai'}
New Dictionary {'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'New York'}

In [24]:
x=a.items()
print(x)

dict_items([('name', 'Omkar'), ('car', 'Audi R8'), ('Age', 25), ('City', 'New York')])

In [25]:
print("Dictionary",a)

if name in a:
    print("Yes",a["name"])

Dictionary {'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'New York'}

NameError: name 'name' is not defined

In [26]:
if "car" in a:
    print("Yes",a["car"])

Yes Audi R8

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [29]:
a

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'New York'}

In [30]:
a.update({"City":"MUmbai"})

In [31]:
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai'}

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [33]:
a

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai'}

In [34]:
a["study"]="Masters"
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters'}

In [35]:
a.update({"Mobile ":"123456789"})
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [37]:
a.pop("study")
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'Mobile ': '123456789'}

In [38]:
a.popitem()
print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai'}

In [39]:
del a["Age"]

In [40]:
a

{'name': 'Omkar', 'car': 'Audi R8', 'City': 'MUmbai'}

In [41]:
print (b)

dict_values(['Omkar', 'Audi R8', 'MUmbai'])

In [42]:
del b
print(b)

NameError: name 'b' is not defined

In [43]:
a.clear()
print(a)

{}

In [44]:
a={'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}

for i in a:
    print(a)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}
{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}
{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}
{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}
{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}
{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}

In [45]:
for i in a:
    print(a[i])

Omkar
Audi R8
25
MUmbai
Masters
123456789

In [46]:
for i in a.values():
    print(i)

Omkar
Audi R8
25
MUmbai
Masters
123456789

In [47]:
for i in a.keys():
    print(i)

name
car
Age
City
study
Mobile

In [48]:
for i,j in a.items():
    print(i,j)

name Omkar
car Audi R8
Age 25
City MUmbai
study Masters
Mobile  123456789

In [49]:
c=a.copy()
print(c)

{'name': 'Omkar', 'car': 'Audi R8', 'Age': 25, 'City': 'MUmbai', 'study': 'Masters', 'Mobile ': '123456789'}

In [50]:
d={"Student 1":{"Name":"Omkar","Age": 25,"City":"Mumbai"},
  "Student 2":{"Name":"Yash","Age":24,"City":"Mumbai"}
  }

In [51]:
print(d)

{'Student 1': {'Name': 'Omkar', 'Age': 25, 'City': 'Mumbai'}, 'Student 2': {'Name': 'Yash', 'Age': 24, 'City': 'Mumbai'}}

In [52]:
for i,j in d.items():
    print(i,j)

Student 1 {'Name': 'Omkar', 'Age': 25, 'City': 'Mumbai'}
Student 2 {'Name': 'Yash', 'Age': 24, 'City': 'Mumbai'}

In [53]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [54]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [55]:
print(myfamily["child2"]["name"])

Tobias

In [56]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011