# Python Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### Creating a Function
In Python a function is defined using the def keyword:

In [1]:
def hello ():
    print("Hello World ")
hello()

Hello World

In [2]:
def name():
    print("Omkar Jethe")
name()

Omkar Jethe

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [12]:
fname=input("Enter the name ")
age=int(input("Enter your age "))
def name():
    print(f"My name is {fname} and  my age is {age}")
name()

Enter the name Omkar
Enter your age 24
My name is Omkar and  my age is 24

In [13]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [15]:
def my_name(a,b,c):
    print("Name is ",c)
my_name(a="Aishwariya",b="Yash",c="Omkar")

Name is  Omkar

In [16]:
def my_function(country = "India"):
  print("I am from " + country)

my_function("Sweden")
my_function("USA")
my_function()
my_function("Brazil")

I am from Sweden
I am from USA
I am from India
I am from Brazil

In [17]:
def name(name = "Omkar"):
    print("My name is",name)
name("Ash")
name("Sai")
name()
name("Asmita")

My name is Ash
My name is Sai
My name is Omkar
My name is Asmita

### Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [18]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [19]:
def names(name):
    for a in name:
        print (a)
b=["Omkar","Yash","Ashwariya"]

names(b)

Omkar
Yash
Ashwariya

In [20]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [21]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [23]:
def recursive_fibonacci(n):
  if n <= 1:
      return n
  else:
      return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))
n_terms = 15
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("Fibonacci series:")
for i in range(n_terms):
    print(recursive_fibonacci(i))

Fibonacci series:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377