# Pandas- dataframe
Pandas DataFrame is a widely used data structure which works with a two-dimensional array with labeled axes (rows and columns).

DataFrame is defined as a standard way to store data that has two different indexes, i.e., row index and column index. It consists of the following properties:

The columns can be heterogeneous types like int, bool, and so on.

It can be seen as a dictionary of Series structure where both the rows and columns are indexed.

It is denoted as "columns" in case of columns and "index" in case of rows.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
a=["Omkar","Yash"]
df = pd.DataFrame(a)  
print (df)

       0
0  Omkar
1   Yash

In [4]:
a={"id":[1,2,3],"name":["Omkar","Yash","Prathamesh"]}
df=pd.DataFrame(a)
print(df)

   id        name
0   1       Omkar
1   2        Yash
2   3  Prathamesh

In [5]:
a={"id" :[1,2,3,4],
   "Student_name":["Omkar","Yash","Prathamesh",np.nan]}

In [6]:
df=pd.DataFrame(a)
print(df)

   id Student_name
0   1        Omkar
1   2         Yash
2   3   Prathamesh
3   4          NaN

In [7]:
info = {'ID' :[101, 102, 103],'Department' :['B.Sc','B.Tech','M.Tech',]}  
df = pd.DataFrame(info)  
print (df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [8]:
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
d1 = pd.DataFrame(info)  
print (d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [9]:
a={"age":pd.Series([24,25,26],index=["a","b","c"]),
   "name":pd.Series(["Omkar","yash","Prathamesh"],index=["a","b","c"])}
df=pd.DataFrame(a)
print(a)

{'age': a    24
b    25
c    26
dtype: int64, 'name': a         Omkar
b          yash
c    Prathamesh
dtype: object}

In [10]:
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
df = pd.DataFrame(info)  
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [11]:
print(df["one"])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, a to h
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     6 non-null      float64
 1   two     8 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 192.0+ bytes

In [13]:
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
  
df = pd.DataFrame(info)  
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6

### Adding column in dataframe

In [14]:
df['three']=pd.Series([20,40,60],index=['a','b','c'])  
print (df)

   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN

In [15]:
df['four']=df['one']+df['three']

In [16]:
print(df)

   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [17]:
df["Five"]=df["three"]*df["four"]
print(df)

   one  two  three  four    Five
a  1.0    1   20.0  21.0   420.0
b  2.0    2   40.0  42.0  1680.0
c  3.0    3   60.0  63.0  3780.0
d  4.0    4    NaN   NaN     NaN
e  5.0    5    NaN   NaN     NaN
f  NaN    6    NaN   NaN     NaN

# Deleting column

In [18]:
print ("Delete the first column:")  
del df['one']  
print (df)  
# using pop function  
print ("Delete the another column:")  
df.pop('two')  
print (df)

Delete the first column:
   two  three  four    Five
a    1   20.0  21.0   420.0
b    2   40.0  42.0  1680.0
c    3   60.0  63.0  3780.0
d    4    NaN   NaN     NaN
e    5    NaN   NaN     NaN
f    6    NaN   NaN     NaN
Delete the another column:
   three  four    Five
a   20.0  21.0   420.0
b   40.0  42.0  1680.0
c   60.0  63.0  3780.0
d    NaN   NaN     NaN
e    NaN   NaN     NaN
f    NaN   NaN     NaN

In [21]:
import pandas as pd

# Creating the first DataFrame
Info1 = pd.DataFrame({"x":[12, 10, 8],
                      "y":[22, 20, 18],
                      "z":[36, 32, 34]})

# Creating the second DataFrame
Info2 = pd.DataFrame({"x":[25, 15, 12],
                      "y":[47, 24, 17],
                      "z":[38, 12, 45]})

# Appending Info2 at the end of Info1 using concat
Info1 = pd.concat([Info1, Info2], ignore_index=True)

print(Info1)

    x   y   z
0  12  22  36
1  10  20  32
2   8  18  34
3  25  47  38
4  15  24  12
5  12  17  45